.battlefield{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-template-areas: 10 10;
    background-color: grey;
    flex-wrap: wrap;
    height: 800x;
    width: 800px;
}

.grid{
    display: flex;
    height: 80px;
    width: 80px;
    padding: 0%;
    margin: 0%;
    background-image: url(waterTile.jpg);
    background-size: contain;
    border: 1px solid;
    border-color: black;
    color:white;
}

.battlefield a:hover{
    background-color: black;
}

.tileImg{
    display: flex;
    justify-self: center;
    height: 100%;
    width: auto;
    object-fit: fill;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 50%;
}

.middle{
    display: flex;

}

.gameArea{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.currentSqr{
    width: 150px;
    height: 150px;

}
.rules{
    width: 250px;
    height: auto;
}
.h1{
    font-size: 45px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.text {
    font-size: 250%;
}

.header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    
}

.taller{
    height: 30px;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.aircraftcarrier{
    display: flex;
    height: 80px;
    width: 80px;
    padding: 0%;
    margin: 0%;
    background-size: contain;
    border: 1px solid;
    border-color: black;
    color:white;
    background-color: rgb(0, 0, 0);}
.battleship1{
    display: flex;
    height: 80px;
    width: 80px;
    padding: 0%;
    margin: 0%;
    background-size: contain;
    border: 1px solid;
    border-color: black;
    color:white;
    background-color: rgb(232, 238, 54);}
.battleship2{
    display: flex;
    height: 80px;
    width: 80px;
    padding: 0%;
    margin: 0%;
    background-size: contain;
    border: 1px solid;
    border-color: black;
    color:white;
    background-color: rgb(74, 185, 229);}
.destroyer{
    display: flex;
    height: 80px;
    width: 80px;
    padding: 0%;
    margin: 0%;
    background-size: contain;
    border: 1px solid;
    border-color: black;
    color:white;
    background-color: rgb(130, 217, 139);
}
.aiShip{
    display: flex;
    height: 80px;
    width: 80px;
    padding: 0%;
    margin: 0%;
    background-size: contain;
    border: 1px solid;
    border-color: black;
    color:white;
    background-color: rgb(41, 41, 41);
}
.submarine{
    display: flex;
    height: 80px;
    width: 80px;
    padding: 0%;
    margin: 0%;
    background-size: contain;
    border: 1px solid;
    border-color: black;
    color:white;
    background-color: rgb(41, 41, 41);
}
.miss{
    display: flex;
    height: 80px;
    width: 80px;
    padding: 0%;
    margin: 0%;
    background-size: contain;
    border: 1px solid;
    border-color: black;
    color:white;
    background-color: rgb(95, 92, 92);
}
.hit{
    display: flex;
    height: 80px;
    width: 80px;
    padding: 0%;
    margin: 0%;
    background-size: contain;
    border: 1px solid;
    border-color: black;
    color:white;
    background-color: rgb(120, 0, 0);
}